.main {
  display: flex;
  flex-direction: column;
  width: calc(0.707 * 100vh);
  height: 100vh;
  margin: auto;
  color: #454d64;
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
  -webkit-font-smoothing:antialiased;
}
.content {
  flex: 3;
  display: flex;
  justify-content: center;
}
.footer {
  flex: 8;
  display: flex;
  justify-content: center;
}
:global{
  .font{
    font-weight: bold;
  }
}
