<!doctype html>
<html lang='ch'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>杨晨辉的小站</title>
    <style type="text/css">
        .icon {
            width: 1em; height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div id="root"></div>
<script src='//at.alicdn.com/t/font_2346265_cz4un9e3nw.js'></script>
</body>
</html>
